* {
    margin: 0;
    padding: 0;
  }
  .main {
    margin: auto;
    // width: 80%;
  }
  button{
    padding: 8px;
    border-radius: 18px;
    margin: 0vh 5vh;
  }
  .js-form{
    margin: auto;
    padding: 5vh 0vh;
    text-align: center;
  }
  .js-card-bookmarks{
    list-style: none;
    margin: auto;
  }
  .js-card{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desc-block{
    width: 500px;
  }
  .js-card-bookmarks-image {
    width: 100px;
    margin: 0vh 5vh;
  }