@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  form {
    padding: 30px;
    text-align: center;
    color: #212121;
    border-radius: 2px;
  }
  .add-user-table{
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
    color: #212121;
    border-radius: 2px;
  }
  .result {
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    color: #212121;
    border-radius: 2px;
  }
  input{
    width: 200px;
  }
  .w200{
    width: 200px;
  }
  button {
    display: inline;
    text-transform: uppercase;
    border: 0;
    background-color: #212121;
    color: #ffffff;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
  }